<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/admin/css/login.css">
</head>

<body>
    <form action="#" th:action="@{/login}" method="GET" class="form-signin w-50 text-center m-auto mt-5">
        <img src="../../img/logotipoamarela.png" id="imgLogoLogin" class="img-fluid" alt="Logo da Lacrocant amarela">
        <h1 class="h3 font-weight-normal mt-4 text-muted">Administrador</h1>
        <input type="text" name="userName" class="form-control" placeholder="Nome de usuário" required>
        <input type="password" name="password" class="form-control mt-1" placeholder="Senha" required>
        <input type="button" value="Login" class="btn btn-primary form-control mt-3">
    </form>
</body>

</html>