<div th:fragment="navbar">
    <nav class="navbar navbar-dark bg-dark sticky-top flex-md-nowrap px-4 shadow">
        <a href="#" class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="imgLogoAdm">
            <img src="/img/logobranca.png" alt="Logotipo da LaCrocant" width="150" height="60">
        </a>
        <button class="navbar-toggler  d-md-none collapsed" type="button" data-toggle="collapse" data-target="#menu"
            aria-controls="menu" aria-expanded="false" aria-label="Mudar menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-50" type="text" placeholder="Digite o que deseja buscar"
            aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a href="#" class="nav-link bg-danger text-white px-5 font-weight-bold">Sair</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="menu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <h6
                        class="sidebar-heading d-flex justify-content-beetween align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Area do Administrador</span>
                    </h6>
                    <ul class="nav flex-column mt-2">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span>Cadastrados</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-decoration-none">
                                <span>Novo</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>