<div th:fragment="navbar">
    <style>
        #navbar-lacrocant {
            background-color: #073863;
        }

        .corRoxa {
            background-color: #741b47;
        }

        .corAmarela {
            background-color: #d7922b;
        }

        #btnCadastar {
            background-color: #073863;
            margin-left: 87%;
        }
    </style>
    </head>
    </body>
    <nav class="navbar navbar-dark sticky-top flex-md-nowrap px-4 shadow" id="navbar-lacrocant">
        <a href="#" class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="imgLogoAdm">
            <img src="/static/img/logobranca.png" alt="Logotipo da LaCrocant" width="150" height="60">
        </a>
        <button class="navbar-toggler  d-md-none collapsed" type="button" data-toggle="collapse" data-target="#menu"
            aria-controls="menu" aria-expanded="false" aria-label="Mudar menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form action="#" class="w-50" method="GET">
            <input class="form-control font-weight-bold text-center" type="text" placeholder="Procurar por..."
                aria-label="Search">
        </form>
        <span class="text-light">USUÁRIO LOGADO</span>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a href="#" class="nav-link bg-danger text-white px-5 font-weight-bold">Sair</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="menu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item corAmarela text-light text-center">
                            <h1 class="h5 corRoxa text-light p-2 text-center font-weight-normal">Gestores</h1>
                            <a th:href="@{/admin/}" class="nav-link text-light">
                                Administradores
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <a th:href="@{/admin/create}" class="nav-link text-light border-top border-dark">
                                Novo
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <h1 class="h5 corRoxa text-light p-2 text-center font-weight-normal">Produtos</h1>
                            <a href="#" class="nav-link">
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <a th:href="@{/admin/create}" class="nav-link text-decoration-none">
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <h1 class="h5 corRoxa text-light p-2 text-center font-weight-normal">Combos</h1>
                            <a th:href="@{/admin/}" class="nav-link">
                                <span></span>
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <a th:href="@{/admin/create}" class="nav-link text-decoration-none">
                                <span></span>
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <h1 class="h5 corRoxa text-light p-2 text-center font-weight-normal">Pedidos</h1>
                            <a th:href="@{/admin/}" class="nav-link">
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <a th:href="@{/admin/create}" class="nav-link text-decoration-none">
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <h1 class="h5 corRoxa text-light p-2 text-center font-weight-normal">Cardápios</h1>
                            <a th:href="@{/admin/}" class="nav-link">
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <a th:href="@{/admin/create}" class="nav-link text-decoration-none">
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <h1 class="h5 corRoxa text-light p-2 text-center font-weight-normal">Pagamento</h1>
                            <a th:href="@{/admin/}" class="nav-link">
                                <span></span>
                            </a>
                        </li>
                        <li class="nav-item corAmarela text-light text-center">
                            <a href="#" class="nav-link text-decoration-none">
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>