<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de Administrador</title>

    <link rel="stylesheet" href="/webjars/AdminLTE/3.0.2/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/webjars/AdminLTE/3.0.2/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/webjars/AdminLTE/3.0.2/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body>
    <div th:replace="panelAdmin/fragments/navbar :: navbar"></div>
    <h1 class="h1 text-center mt-5 font-weight-normal">Edição de Administrador</h1>
    <form th:action="${/admin/update}" th:object="${admin}" method="POST">
        <div class="form-row mt-4" th:fragment="adminData">
            <div class="col-6">
                <label for="userName">Nome de usuário:</label>
                <input type="text" class="form-control" name="userName">
            </div>
            <div class="col-6">
                <label for="password">Senha:</label>
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="form-group mt-4">
            <label for="fullName">Nome completo:</label>
            <input type="text" class="form-control" name="fullName">
        </div>
        <div class="form-group mt-4">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-row">
            <div class="col-6">
                <button type="submit" class="btn btn-danger form-control btn-lg">Cancelar</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-success form-control btn-lg">Atualizar</button>
            </div>
        </div>
    </form>

    <!-- jQuery -->
    <script src="/webjars/AdminLTE/3.0.2/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/webjars/AdminLTE/3.0.2/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/webjars/AdminLTE/3.0.2/dist/js/adminlte.min.js"></script>
</body>

</html>